requirements: 

Host: https://yujingwang.pythonanywhere.com/ 

GET account/register/ HTTP/1.1 

	password: xx 

	username: xx 

	email: xx 

  

GET account/login/ HTTP/1.1 

	password: xx 

	username: xx 

  

GET account/logout/ HTTP/1.1 

  

POST account/change-password/ HTTP/1.1 

    	old_password 

    	new_password 

  

POST account/update-profile/ HTTP/1.1 

 

GET account/order-history/ HTTP/1.1 

  

GET carwiki/api/car_wiki/ HTTP/1.1 

  

GET carwiki/api/search_car/ HTTP/1.1 

brand 

car_model 

  

GET carwiki/api/car_detail/123/ HTTP/1.1 

  

GET community/community/ HTTP/1.1 

  

POST community/articles/create/ HTTP/1.1 

title 

content 

tag 

  

POST community/articles/123/replies/create/ HTTP/1.1 

reply 

  

GET community/articles/ HTTP/1.1 

 

GET community/articles/search/?query=search_query_here HTTP/1.1 

query 

  

GET community/articles/123/ HTTP/1.1 

 

GET home/homepage/ HTTP/1.1 

 

GET home/search/product/?query=search_query_here HTTP/1.1 

 

GET home/ranking/ HTTP/1.1 

 

GET Transaction/api/products/ HTTP/1.1 

 

POST Transaction/api/products/ HTTP/1.1 

Title  

Date  

Price  

Description 

Location 

car_brand 

car_model 

  

POST Transaction/ api/buy/ HTTP/1.1 

product 

  

POST Transaction/ api/finishOrder/ HTTP/1.1 

order_pk 